*{
    margin: 0;
    padding: 0;
}

.main.container{
    background-image: url('images/paper-texture.jpg');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.nav{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

img{
    width: 90px;
    cursor: pointer;
    margin-top: -1%;
    margin-left: -2%;
    bottom: 20px;
}

ul{
    margin-top: -4%;
}

ul li{
    list-style: none;
    display: inline-block;
   padding: 3px 10px;
}   

ul li a{
    font-size: 15px;
    font-weight: bolder;
    color:darkslategray;
    margin-top: -3%;
    transition: 4ms;
    text-decoration: none;
    font-family:sans-serif;
}
ul li a:hover{
    color: red;
}

.info{
    margin-left: 7%;
    margin-top: 10%;
    font-size: 14px;
    font-family:sans-serif;
}
.info h1{
    color: rgb(14, 13, 13);
    font-size: 60px;
}

.info h3{
    font-size: 18px;
    color: rgb(24, 23, 23);
    letter-spacing: 1px;
    line-height: 1px;
}
.info p{
    font-size: 18px;
    line-height: 15px;
    font-weight: bold;
}

.info span{
    color: red;
}

.info a{
    text-decoration: none;
    padding: 10px 15px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 15px;
    display: inline-block;
    transition: 4ms;
}

.info a:hover{
    background-color:red;
    color: white;
}

.logo{
    position: relative;
    bottom: -20px;
    left: 8%;
    width: 5px;
    display: flex;
}

.logo img{
    padding: 2px;
    width: 20px;
    margin-right: 1%;
} 

.logo img:hover{
    transform: scale(1.2);
    transition: 4ms;
    background: red;
}

.person{
    position: absolute;
    bottom: 0%;
    right: 25%;
    width: 300px;
    transition: 2s ease;
}

.person img{
    width:200%;
}

.MetaGrid{
    font-size: 25px;
    font-weight: bold;
    color: darkslategray;
    margin-left: -48%;
    margin-top: -1%;
    font-family:sans-serif;
}
